.container {
  min-height: 90vh;
  width: 100%;
  background-image: var(--linear-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  div {
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    color: white;
  }
  h1,
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
  }
  h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif !important;
    font-size: 5rem;
    font-weight: bolder;
    border-bottom: 1rem solid white;
    padding-bottom: 1rem;
  }
  h2 {
    margin-left: auto;
    svg {
      fill: white;
      height: 2.5rem;
      margin-bottom: 0.4rem;
    }
  }
}

@media all and (max-width: 80rem) {
  .container {
    h1 {
      font-size:3rem;
    }
    h2 {

      font-size: var(--x-medium);
    }
  }
}

@media all and (max-width: 40rem) {
  .container {
    h1 {
      font-size: 2rem
    }
    h2 {
      svg {
        height: 2rem;
      }
      font-size: var(--medium);
    }
  }
}
