.container {
  height: 20rem;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  margin: 2rem 1rem;
  overflow: hidden;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  color: rgb(11, 11, 11);

  .discount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-primary);
    font-size: var(--x-medium);
    color: white;
    z-index: 100;
    border-bottom-left-radius: 10px;
    padding: 0.5rem 1rem;
  }
  &:hover {
    transform: scale(1.05);
  }
  img {
    max-width: 10rem;
    max-height: 100%;
    transition: max-width 0.5s ease-in;
    &:hover {
      position: absolute !important;
      max-width: 100% !important;
      height: auto;
    }
  }

  img:hover + .table {
    display: none;
  }
  .table {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    & > h2 {
      font-size: var(--medium);
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
    }
    div {
      display: flex;
      flex-direction: column;

      margin-top: auto;
      h2 {
        margin: 0;
        &:last-of-type {
          margin-left: auto;
          margin-bottom: 1rem;
          font-size: var(--medium);
          i {
            text-decoration: line-through;
            color: var(--color-error);
            margin-right: 0.6rem;
          }
        }
        &:first-of-type {
          font-size: var(--small);
        }
      }
    }
  }
}

@media all and (max-width: 80em) {
  .container {
    .discount {
      font-size: var(--medium);
      padding: 0.5rem 1rem;
    }
  }
  .table {
    & > h2 {
      font-size: var(--medium) !important;
    }
    div {
      h2:first-of-type {
        text-align: start;
        font-size: var(--small) !important;
      }
    }
  }
}
@media all and (max-width: 60em) {
  .container {
    .discount {
      font-size: var(--small);
      padding: 0.5rem 0.7rem;
    }
  }
}
