.search-container {
  margin-left: 2rem;
  height: 100%;
  width: 100%;
  max-width: 40rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search-container > input {
  height: 3.5rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 16rem;
  font-size: var(--medium);
}

.search-icon {
  height: 1.2rem;
  color: white;
  cursor: pointer;
}

.search-icon-container {
  position: relative;
  display: flex;
  right: 3rem;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.search-icon-container:hover {
  transform: scale(1.1);
}

/* CATEGORY */
.search-category {
  position: absolute !important;
  right: 6rem;
  min-width: 10rem;
  max-width: 11rem;
  font-size: var(--small);
}
.search-category div {
  color: var(--color-primary);
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--color-primary);
}
@media all and (max-width: 60em) {
  .search-container {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
  }
  .search-container input {
    box-sizing: border-box;

    padding: 0;
    left: 4%;
    right: 0;
    position: absolute;
    width: 92%;
    padding-left: 2rem;
    padding-right: 16rem;
    font-size: var(--small);
  }
  .search-icon-container {
    right: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    right: 3rem !important;
  }
}
@media all and (max-width: 40em) and (orientation: portrait) {
  .search-container input {
    padding-left: 1rem;
    width: 90%;
    padding-right: 4rem;
  }
  .search-icon-container {
    right: 2rem !important;
  }
  .search-category {
    display: none;
  }
}
