.container {
  display: flex;
  width: 90%;
  margin-bottom: 10rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 65%;
  border-radius: 10px;
  margin-top: 5rem;
  padding: 0;
  padding-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: whitesmoke;
  & > h1 {
    text-transform: capitalize;
    margin: 0;
    width: 100%;
    font-size: var(--x-large);
    text-align: center;
    position: relative;
    border-radius: 10px 10px 0 0;
    background: var(--linear-primary);
    min-height: 5rem;
    font-weight: 900;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 3rem;
  }
  .emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.authError {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--medium);

  p {
    cursor: pointer;
    color: var(--color-primary);
    margin-left: 0.5rem;
    text-decoration: underline;
  }
}
.error {
  color: var(--color-error);
  margin: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.section2 {
  width: 30%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11rem;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  h1 {
    text-transform: capitalize;
    width: 100%;
    margin-top: 0 !important;
    padding-top: 0.5rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 1.5rem;
    font-weight: 600;
    background-image: var(--linear-primary);
    color: white;
    font-size: var(--x-large);
  }
  .table {
    width: 80%;
    h2 {
      font-size: var(--medium);
      margin: 0;
      text-transform: capitalize;
      i {
        text-decoration: line-through;
        color: var(--color-error);
        margin-right: 0.6rem;
      }
    }
    .btn {
      margin: 0.3rem 0 1rem 0;
      font-size: var(--small);
      padding: 0.4rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 999px;
      color: white;
      cursor: pointer;
      background-image: var(--linear-primary);
      margin: 2rem 0;
      width: 100%;
      svg {
        height: 2rem;
        margin-right: 1rem;
      }
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}

@media all and (max-width: 100em) {
  .container {
    width: 90%;
  }
}
@media all and (max-width: 92em) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .section1 {
    width: 100%;
    order: 2;
  }
  .section2 {
    order: 1;
    width: 40rem;
    margin: 0;
    margin-top: 5rem;

    .table {
      h2 {
        font-size: var(--small);
        margin-left: 0.1rem;
      }
    }
  }
}

@media all and (max-width: 40em) and (orientation: portrait) {
  .container {
    width: 100%;
    .section2 {
      width: 95%;
      box-shadow: none;
      .btn {
        font-size: var(--x-small);
        svg {
          height: 1.5rem;
          margin-right: 1rem;
        }
      }
    }
    .section1 {
      background-color: transparent;
      box-shadow: none;
      & > h1 {
        margin: 0;
        width: 100%;
        font-size: var(--x-large);
        text-align: center;
        position: relative;
        border-radius: 10px 10px 0 0;
        background: transparent;
        color: black;
        margin-bottom: 3rem;
      }
    }
  }
}
