.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: var(--height);
  margin-bottom: 10rem;
  @media all and (max-width: 100rem) {
    width: 100%;
  }

  section {
    background-color: white;
    width: 60%;
    padding: 3rem 5rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    @media all and (max-width: 80rem) {
      width: 80%;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.text {
  h1 {
    text-align: center;
    font-weight: bold;
  }
  hr {
    background-color: black;
    height: 0.1rem;
    width: auto;
  }
  p {
    margin: 0;
  }
}

//      PRICE CONTAINER
.priceContainer {
  cursor: pointer;
  label {
    width: 100% !important;
      & > p {

    margin-left: 10%;
    align-self: center;
    font-size: var(--medium);

    @media all and (max-width: 40rem) {
      margin-left: 0rem;
    }
  }
  div{
    margin-left: auto !important;
    margin-right: 1rem !important;
    p{
      margin: 0;
      font-size: var(--small);
          @media all and (max-width: 40rem) {
            font-size: var(--x-small);
          }
    }
  }

  }
}

//      OFFICE CONTAINER
.officeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
  }
  hr {
    background-color: black;
    height: 0.15rem;
    width: auto;
  }

  .radioContainer {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    label {
      flex-direction: row;
      align-items: center;
      font-size: var(--medium);
      
      &:last-of-type {
        margin-left: 0;
      }
      padding-left: 2rem;
      input[type="radio"] {
        margin-left: 0.5rem;
      }
      svg {
        height: 5rem;
        margin-right: 1rem;
      }
    }
  }
}

.radioContainer {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  label {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &:last-of-type {
      margin-left: 2rem;
    }
    svg {
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 5rem;
      fill: black;
    }
  }
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

.radioContainer input[type="radio"]:checked + label {
  background-color: var(--color-primary);
  color: white;
}

.btn {
  cursor: pointer;
  color: white;
  margin-top: 3rem;
  border: none;
  font-size: var(--medium);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: auto;
  background-image: var(--linear-primary);
}

@media all and (max-width: 60rem) {
  .container {
    margin-bottom: 0;
    width: 100%;
    section {
      width: 100%;
      box-shadow: none;
      padding: 1rem 1rem 10rem 1rem;
    }
  }
}
