.container {
  width: 80%;
  min-height: var(--height);
  margin-bottom: 5rem;
}

.section2 {
  margin: 10rem 0;
  width: 100%;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: var(--small);
      font-weight: normal;
      margin: 2rem 3rem;
      white-space: pre;
      &:hover {
        text-shadow: 0 0 1px black;
        cursor: pointer;
      }
    }
  }
  p {
    font-size: var(--medium);
    margin: 1rem;

  }
}

@media all and (max-width: 110em) {
  .container {
    width: 90%;
  }
}

@media all and (max-width: 70em) {
  .container {
    width: 80%;
    .section2 {
      margin-top: 5rem;
      width: 100%;
      p {
        margin: 2rem 0;
      }
      h2 {
        text-align: center;
      }
      header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & h2:last-of-type {
          grid-column: span 2;
          text-align: center;
        }
      }
    }
  }
}
@media all and (max-width: 40em) {
  .section2 {
    header {
      grid-template-columns: 1fr !important;
      h2 {
        margin: 0rem;
        margin-bottom: 0.5rem;
        grid-column: span 1 !important;
        text-align: start !important;
        text-decoration: underline;
      }
    }
    p {
      display: block;
      word-break: break-all;
      text-align: justify;
    }
  }
}
