.container {
  width: 60%;
  margin-bottom: 10rem;
  & > button {
    background-image: var(--linear-primary);
    width: auto;
    margin-top: 2rem;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 999px;
    text-align: center;
    font-size: var(--x-medium);
    font-weight: normal;
    padding: 0 2rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    &:hover {
      transform: scale(1.05);
    }
    @media all and (max-width: 40rem) {
      margin-left: 1rem;
    }
  }
  @media all and (max-width: 80rem) {
    width: 80%;
  }
}
