.container {
  width: 80%;
  min-height: var(--height);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  header {
    width: 100%;
    text-align: center;
    h1 {
      margin: 5rem 0;
    }
  }
  img {
    width: 80%;
    height: 40rem;
    margin-bottom: 5rem;
  }
  p {
    width: 80%;
    display: block;
    text-align: justify;
    word-break: keep-all;
    font-size: var(--small);
  }
  h1 {
    margin: 2rem 0;
    font-weight: 600;
    font-size: var(--xx-large);
    color: var(--color-primary-lg);
  }

  section {
    width: 80%;
    display: flex;
    margin-bottom: 5rem;
  }
  @media all and (max-width: 80rem) {
    width: 100%;
    section {
      flex-direction: column;
      .text {
        width: 100%;
      }
      h2 {
        text-align: center;
        border: none !important;
      }
      .iframe {
        width: 100%;
      }
      .element {
        justify-content: center;
      }
    }
    .work {
      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.text {
  width: 40%;
  h2 {
    margin: 0.5rem 0;
    text-align: start;
    color: var(--color-primary-lg);
    font-size: var(--x-large);
    font-weight: 500;

    &:first-of-type {
      margin-top: 0;
    }
  }
  margin-bottom: 1rem;
}
.iframe {
  border: none;
  border-radius: 10px;
  width: 60%;
  min-height: 20rem;
}
.element {
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.work {
  p {
    margin: 0;
    font-size: var(--small);
  }
  h2 {
    border-top: 3px solid black !important;
    margin-right: 1rem;
    color: black;
    text-align: start;
    margin-top: 1rem !important;
    font-size: var(--medium);
  }
  @media all and (max-width: 70em) {
    p:last-of-type {
      margin-bottom: 3rem;
    }
    h2 {
      text-align: center;
    }
  }
}

.icon,
.iconSm {
  height: 2rem;
  fill: black;
}
.iconSm {
  height: 1.5rem;
}

//   MOBILES

@media all and (max-width: 40em) and (orientation: portrait) {
  .container {
    box-shadow: none;
    width: 100%;
    h1 {
      margin: 3rem 0;
      font-size: var(--x-large);
    }
    img {
      height: 20rem;
      width: 90%;
      margin-bottom: 1rem;
    }
    p {
      width: 90%;
      font-size: var(--x-small);
    }
  }
  .text {
    h2 {
      font-size: var(--x-medium);
      font-weight: 600;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .work {
    p {
      font-size: var(--small);
      word-spacing: 9999rem;
      width: 100%;
      text-align: start;
    }
  }
  .element {
    font-size: var(--small);

    justify-content: flex-start !important;
  }
}
