.article {
  display: flex;
  flex-direction: column;

  .name {
    font-size: var(--x-large);
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 5rem 0;
    @media all and (max-width: 60rem) {
      font-size: var(--large);
      margin-bottom: 2rem;
    }
    @media all and (max-width: 40rem) {
      font-size: var(--x-medium);
    }
  }
}
.section1 {
  display: flex;

  .imgContainer,
  .table {
    height: max-content;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: white;
    padding: 1rem;
    b {
      text-transform: capitalize;
    }
  }

  .imgContainer {
    width: 50%;
    max-width: 50rem;
  }

  .table {
    position: relative;
    padding: 2rem 3rem;
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      font-size: var(--medium);
      b {
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }
    .discount {
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--color-primary);
      font-size: var(--x-medium);
      color: white;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 0.5rem 1rem;
    }
  }
}

.video {
  width: 100%;
  height: 31vw;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 1rem;
  button {
    margin-top: 1rem;

    padding: 0.5rem;
    font-size: var(--medium);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 999px;
    color: white;
    font-weight: normal;
    cursor: pointer;
    svg {
      height: 2rem;
      margin-right: 1rem;
    }
    &:hover {
      transform: scale(1.01);
    }
    &:first-of-type {
      background-image: var(--linear-second);
    }
    &:last-of-type {
      background-image: var(--linear-primary);
    }
  }
}

.price {
  padding: 1rem;
  font-size: var(--large) !important;
  text-align: center;
  b {
    margin-right: 0.5rem;
  }
  i {
    text-decoration: line-through;
    color: var(--color-error);
    margin-right: 0.6rem;
  }
}

b {
  font-weight: 600;
}

.error {
  font-size: var(--small) !important;
  text-decoration: none !important;
  font-weight: bold !important;
  margin-top: 0.5rem !important;
}

.selectContainer {
  input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    color: var(--color-black);
    padding: 0.5rem;
    font-size: var(--small);
    margin: 0.5rem 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
  input[type="number"] {
    -moz-appearance: textfield !important;
  }
}

.description {
  width: 100%;
  table {
    width: 100%;
  }
  th,
  td {
    background: transparent !important;
    border: none;
    border-radius: 0;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-primary) !important;
    text-align: left;
  }

  th {
    font-size: var(--small);
    background-color: red;
    color: black;
    width: 30%;
  }
  td {
    width: 70%;
    color: var(--color-primary);
    font-size: var(--small);
    background-color: green;
  }
}

@media all and (max-width: 90em) {
  .section1 {
    .table {
      width: 45%;
    }
  }
}

@media all and (max-width: 75em) {
  .video {
    height: 30rem;
  }
  .section1 {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .imgContainer {
    width: 100% !important;
    max-width: 100% !important;
  }
  .price {
    text-align: center;
  }
  .table {
    position: relative;
    margin-top: 5rem;
    margin-left: 0 !important;
    width: 90% !important;

    h2 {
      margin-top: 2rem;
    }
  }
  .description {
    th,
    td {
      font-size: var(--x-small);
    }
  }
  .btnContainer {
    button {
      width: 100%;
    }
  }
  .error {
    font-size: var(--small) !important;
  }
}

@media all and (max-width: 40em) {
  .imgContainer {
    width: 100vw !important;
    max-width: 100vw !important;
  }
  .section1 {
    .price {
      font-size: var(--medium) !important;
      b {
        margin-right: 0.5rem;
      }
    }
    .table {
      width: 90vw !important;
      h2 {
        font-size: var(--x-medium);
      }
      p {
        font-size: var(--small);
      }
    }
  }
  .btnContainer {
    button {
      font-size: var(--small) !important;
    }
  }

  .error {
    font-size: var(--x-small) !important;
    margin-top: 0.5rem !important;
  }
}
