.blockCarousel-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.blockCarousel-container > img {
  height: 100%;
  width: 20rem;
  border-radius: 10px;
  transform: scale(1.3);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  margin-left: 5rem;
}

.blockCarousel-post {
  position: relative;
  margin: 0;
  margin-left: 3rem;
  height: 100%;
  display: flex;
}

.blockCarousel-text {
  position: relative;
  font-size: var(--medium);
  font-weight: 500;
  height: 60%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.blockCarousel-author {
  font-size: var(--small);
  position: absolute;
  bottom: 2rem;
  font-weight: 400;
}
.blockCarousel-job {
  font-size: var(--x-small);
  position: absolute;
  bottom: 0.5rem;
}

.blockCarousel-btn {
  background-color: var(--color-second);;
  border: none;
  height: 3rem;
  width: 3rem;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 12px 24px rgba(DA, 12, 12, 0.2);
  cursor: pointer;
}

.btn-icon {
  height: 3rem;
  width: 3rem;
  stroke: white;
}

.btn--left {
  transform: translateX(-50%);
  left: 0;
}

.btn--right {
  transform: translateX(50%);
  right: 0;
}

.blockCarousel-dots {
  position: absolute;
  left: 30rem;
  bottom: 0;
  transform: translate(0, 32px);
  display: flex;
  gap: 1rem;
}

.blockCarousel-dot {
  height: 1.4rem;
  width: 1.4rem;
  background-color: white;
  border: 2px solid var(--color-second);
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: var(--color-second);
}

@media all and (max-width: 44em) and (orientation:portrait) {
  .blockCarousel-btn     {
    height: 2rem;
    width: 2rem;
    stroke: white;
  }

  .btn--left {
    transform: none;
    left: 0.1rem;

  }
  .btn--right{
    transform: none;
    right: 0.1rem;
  }
  
}
