.carousel-container {
  background-color: white;
  height: auto;
  border-radius: 10px;
  margin-top: 5rem;
}

.carousel-container header button {
  position: absolute;
  right: 1rem;
  font-size: var(--medium);
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  background-color: black;
  color: white;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.carousel-container header button:hover {
  transform: scale(1.1);
}

.carousel-container header {
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: var(--color-second);
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.carousel-container header h1 {
  font-size: var(--x-large);
}
