.container {
  width: 80%;
  min-height: var(--height);
  margin-bottom: 10rem;
  @media all and (max-width: 60em) {
    width: 90%;
  }
  .table {
    overflow-x: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .btnContainer {
    display: flex;
    @media all and (max-width: 40em) and (orientation: portrait) {
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      .btn {
        margin: 0.5rem 0 !important;
        width: 80%;
      }
    }
  }
  .btn {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: var(--medium);
    padding: 0.5rem 1rem;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    will-change: transform;
    &:hover {
      transform: scale(1.05) translate3d(0, 0, 0) perspective(0.5px);
    }
    &:first-of-type{
      margin-left: auto;
      margin-right: 1rem;
    }
  }
  .icon,.icon1 {
    fill: white;
    height: 2rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
    
  }
  .icon1{
    height: 1.4rem;
  }
}
