.container {
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    img{ border-radius:10px;
        width: 100%;
    }        
    .iconContainer {
        border: none;
        display: flex;
        position: absolute;
        border-radius:0   10px 0 10px  ;
        top:0;
        right: 0;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        height: 3rem;
        padding: 0 0.5rem;
        background-color: var(--color-error);
        &:hover {
          transform: scale(1.05);
        }
      }
      .icon {
        cursor: pointer;
        height: 1.5rem;
        fill: white;
      }             
}
