.article {
  display: flex;
  flex-direction: column;
  .name {
    font-size: var(--xx-large);
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 5rem 0;
    @media all and (max-width: 60rem) {
      font-size: var(--x-large);
    }
    @media all and (max-width: 40rem) {
      font-size: var(--large);
    }
  }
}
.section1 {
  display: flex;

  .imgContainer,
  .table {
    height: max-content;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: white;
    padding: 1rem;
  }

  .imgContainer {
    width: 50%;
    max-width: 50rem;
  }

  .table {
    position: relative;
    padding: 1rem 3rem;
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
      font-size: var(--large);
      font-weight: bold;
      white-space: normal;
      margin-bottom: 3rem;
    }
    p:not(:last-of-type) {
      margin: 0;
      margin-top: 0.5rem;
      font-size: var(--medium);
      font-weight: normal;
      b {
        margin-right: 0.5rem;
      }
    }
  }
}

.video {
  width: 100%;
  height: 31vw;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 1rem;
  button {
    margin-top: 1rem;

    height: 3rem;
    font-size: var(--medium);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 999px;
    color: white;
    font-weight: normal;
    cursor: pointer;
    svg {
      height: 2rem;
      margin-right: 1rem;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:first-of-type {
      background-image: var(--linear-second);
    }
    &:last-of-type {
      background-image: var(--linear-primary);
    }
  }
}

.price {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: var(--x-large);
  b {
    margin-right: 0.5rem;
  }
}

b {
  font-weight: 600;
}
.color {
  text-align: center;
  font-size: var(--large) !important;
  padding: 1rem;
}
.error {
  font-size: var(--medium);
  font-weight: bold !important;
  color: var(--color-error);
}

.select {
  margin-top: 0.5rem;
  width: max-content;
  border: none;
  text-align: center;
  width: 5rem;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.selectContainer {
  display: inline;
  font-size: var(--medium);
}

@media all and (max-width: 90em) {
  .section1 {
    .table {
      width: 45%;
    }
  }
}

@media all and (max-width: 75em) {
  .video {
    height: 30rem;
  }
  .section1 {
    flex-direction: column;
    width: 100%;
  }

  .imgContainer {
    width: 100% !important;
    max-width: 100% !important;
  }
  .price {
    text-align: center;
  }
  .table {
    position: relative;
    margin-top: 5rem;
    width: 100% !important;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    text-align: start !important;
    h2 {
      margin-top: 2rem;
    }
    .price {
      text-align: start;
    }
    .select {
      background-color: transparent;
    }
  }
  .btnContainer {
    button {
      width: 100%;
    }
  }
}

@media all and (max-width: 40em) {
  .section1 {
    .table {
      h2 {
        font-size: var(--x-medium);
      }
    }
  }
}
