.table {
  width: 100%;
  height: max-content;
}
.column {
  background-color: var(--color-primary-lg);
  color: white;
  font-size: var(--medium);
  padding: 0.5rem !important;
}
.row {
  font-size: var(--medium);
}
th,
td {
  padding: 0.5rem;
  border: 3px solid var(--color-primary-lg);
}

td {
  white-space: nowrap;

  transition: transform 0.1s ease-out;
  &:hover:not(:last-of-type) {
    transform: scale(1.05);
    z-index: 99;
    background-color: var(--color-primary-lg);
    color: white;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30rem;
  &:nth-of-type(2) {
    max-width: 20rem;
  }
  &:last-of-type {
    background-color: var(--color-primary-lg);
    width: 10rem;
  }
  @media all and (max-width: 60em) {
    &:hover {
      transform: none !important;
    }
  }
}

th:last-of-type {
}

.buttonContainer {
  display: flex;
  width: max-content;
}
.button {
  display: flex;
  align-items: center;

  height: 3rem;
  cursor: pointer;
  padding: 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 50%;
  color: white;

  &:first-of-type {
    background-color: green;
    border-color: green;
  }

  &:last-of-type {
    margin-right: 1rem;
    background-color: var(--color-second);
    border-color: var(--color-second);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.icon {
  height: 1.5rem;
  fill: white;
}
