.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 10rem;
  section {
    min-width: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem 5rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    h1 {
      font-weight: bold;
      text-transform:capitalize;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.radioContainer {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  font-size: var(--medium);
  label {
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--small);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

.radioContainer input[type="radio"]:checked + label {
  background-color: var(--color-primary);
  color: white;
}
.inputContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input {
  width: 100%;
  color: var(--color-black);
  padding: 1rem 0 1rem 2rem;
  margin-top: 2rem;
  font-size: var(--small);
  border: none;
  background-color: whitesmoke;
  border-radius: 8px;
  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

.btn {
  cursor: pointer;
  color: white;
  margin-top: 3rem;
  border: none;
  font-size: var(--medium);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: auto;
  background-image: var(--linear-primary);
  margin-bottom: 2rem;
}

@media all and (max-width: 60rem) {
  .container {
    margin-bottom: 0;
    section {
      min-width: auto;
      box-shadow: none;
      width: 100vw;
      padding: 1rem 2rem 10rem 2rem;
      h1 {
        text-align: center;
      }
    }
  }
  form {
    .radioContainer {
      gap: 0;
      label {
        text-align: center;
      }
      label:not(:first-of-type) {
        margin-left: 4rem;
      }
    }
  }
  .input {
    width: 100%;
  }
  .inputContainer {
    width: 100%;
  }
}
