.container {
    width: 60%;
    & > button {
      background-image: var(--linear-primary);
      border: none;
      @media all and (max-width: 56rem) {
        margin-left: 1rem;
      }
    }
    label {
      text-transform: capitalize;
      font-size: var(--small);
    }
    section {
      margin-bottom: 10rem;
      width: 100%;
      min-height: 40rem;
      background-color: white;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  
      h1 {
        font-size: var(--xx-large);
        font-weight: bold;
        text-align: center;
        padding: 3rem 0;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div:not(.admin) {
          width: 80%;
          display: flex;
          flex-direction: column;
        }
      }
    }
    @media all and (max-width: 80rem) {
      width: 80%;
    }
    @media all and (max-width: 56rem) {
      width: 100%;
      section {
        background-color: transparent;
        background: transparent;
        box-shadow: none;
        border: none;
        margin-bottom: 5rem;
        h1 {padding: 1rem 0 2rem 0;
          font-size: var(--x-large);
        }
        input {
          background-color: white;
        }
      }
    }
  }
  .input,
  .button {
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: var(--medium);
  }
  .admin {
    font-size: var(--x-medium);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input {
    padding: 0 2rem;
    font-size: var(--small);
    margin: 0.5rem 0;
  }
  .checkbox[type="checkbox"] {
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .button {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 1rem 2rem;
    color: white;
    background-image: var(--linear-second);
    border: none;
    border-radius: 999px;
  
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    &:hover {
      transform: scale(1.05);
    }
  }
  