.container {
  width: 60%;
  min-height: var(--height);
  color: #212529;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  & > button {
    background-image: var(--linear-primary);
    border: none;
    @media all and (max-width: 40rem) {
      margin-left: 1rem;
    }
  }
  section {
    position: relative;
    margin-bottom: 10rem;
    width: 100%;
    min-height: 40rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    h1 {
      font-size: var(--xx-large);
      font-weight: bold;
      text-align: center;
      padding: 3rem 0;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media all and (max-width: 85rem) {
    width: 80%;
    input,
    .textarea,
    .inputCategory {
      font-size: var(--medium);
    }
  }
  @media all and (max-width: 40rem) {
    width: 100%;
    section {
      background-color: transparent;
      background: transparent;
      box-shadow: none;
      border: none;
      margin-bottom: 5rem;

      input,
      .textarea,
      .inputCategory {
        width: 80%;
        font-size: var(--medium);
      }

      .textarea {
        font-size: var(--small);
      }
      .input:first-of-type {
        margin-top: 0;
      }
      .textarea {
        height: 8rem;
      }
      .color {
        transform: none;
        border-radius: 10px 0 0 10px;
      }
    }
  }
}
.input,
.button,
.textarea {
  width: 60%;
  margin-top: 2rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 999px;
  text-align: center;
  font-size: var(--x-medium);
  font-weight: normal;
}
.textarea {
  font-size: var(--small);
}
.color {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;

  transform: translate(-10%, -100%);
  button {
    cursor: pointer;
    color: white;
    background-image:var(--linear-primary);
    border: none;
    display: flex;
    align-items: center;
    font-size: var(--x-medium);
    padding: 0.3rem 0.8rem 0.1rem 0.5rem;
    border-radius: 10px 10px 0 0;
    
  svg {
    margin-right: 0.5rem;
    height: 1.5rem;
    fill: white;
  }
  &:first-of-type{
    background-image:var(--linear-second);
    margin-right: 1rem;
  }
  &:hover {
    transform: scale(1.05);
  }
  }
}

.textarea {
  height: 10rem;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: var(--medium);
}
.inputCategory {
  width: 60%;
  height: 3rem;
  margin-top: 3rem;

  text-align: center;
  font-size: var(--x-medium);
  font-weight: normal;
  & > div {
    border: 2px solid black;
    border-radius: 10px;
  }
}
.error {
  text-align: center;
  color: var(--color-error);
  font-size: var(--medium);
}
.admin {
  font-size: var(--x-medium);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 0 2rem;
}
.checkbox[type="checkbox"] {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.button {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 1rem 2rem;
  color: white;
  background-image: var(--linear-second);
  border: none;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  &:hover {
    transform: scale(1.05);
  }
}
