.box {
  
  padding: 80px 60px;
  background: var(--linear-primary);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  aside {
    background-color: var(--color-primary);
    padding: 1rem;
    margin: 3rem 0;
    text-align: center;
    color: white;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  & div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);

    div {
      width: 100%;
      align-items: center;
    }
  }
}

.element {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}

.icon,
.iconSm {
  height: 2rem;
  fill: white;
}
.iconSm {
  height: 1.5rem;
}

.map {
  border: none;
  border-radius: 10px;
}

@media (max-width: 700px) and (orientation: portrait) {
  .box {
    padding: 80px 0;
  }
  .row {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
  .column:nth-of-type(3) {
    grid-column: span 2;
  }
  .column:last-of-type {
    grid-row: 3;
    grid-column: span 2;
  }
}
@media (max-width: 380px) and (orientation: portrait) {
.column{
  grid-column: span 2;
  grid-row: auto;
}
}