.box {
  padding: 80px 60px;
  background: var(--linear-primary);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  aside {
    background-color: var(--color-primary);
    width: 100%;
    padding: 1rem;
    margin: 3rem 0;
    text-align: center;
    color: white;
  }
}

.column {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-left: 1rem;
  & div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  justify-content: center;
  justify-content: center;
  justify-items: center;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);

    div {
      width: 100%;
      align-items: center;
    }
  }
}

.element {
  color: #fff;
  margin-bottom: 1rem;
  font-size: var(--small);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
    & .icon,
    .iconSm   {
      fill: rgba(255, 255, 255, 0.7);
    }
  }
}

.heading {
  font-size: var(--x-medium);
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.icon,
.iconSm {
  height: 2rem;
  fill: white;
}
.iconSm {
  height: 1.5rem;
}

.map {
  border: none;
  border-radius: 10px;
}

@media (max-width: 60rem) and (orientation: portrait) {
  .box {
    padding: 20px 0;
  }
  .row {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .element {
    font-size: var(--x-small);
  }
  .heading {
    font-size: var(--small);
    margin-bottom: 1rem;
  }
}
@media (max-width: 40rem) and (orientation: portrait) {
  .column:nth-of-type(3) {
    grid-column: span 2;
  }
  .column:last-of-type {
    grid-row: 3;
    grid-column: span 2;
  }
}
@media (max-width: 380px) and (orientation: portrait) {
  .column {
    grid-column: span 2;
    grid-row: auto;
  }
}
