.container {
  width: 80%;
  min-height: var(--height);
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 3rem 0;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  h1 {
    text-align: center;
    font-size: 4rem;
  }
  h2 {
    font-size: var(--x-large);
    margin-right: 3rem;
    text-align: center;
    margin-top: 1rem;
    &:last-of-type {
      margin-top: 3rem;
    }
  }
}
.delivered {
  cursor: pointer;
  width: 100%;
  font-size: var(--medium);
  background-image: var(--linear-primary);
  color: white;
  border: none;
}
.sectionDetails {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  p {
    font-size: var(--small);
    margin: 0;
    b {
      margin-right: 0.5rem;
    }
  }
  .sum,
  .status {
    font-size: var(--x-medium);
  }
  .status {
    text-decoration: underline;
    b {
      text-decoration: underline;
      color: black !important;
    }
  }
}

.products {
  margin-top: 3rem;
  .product {
    display: flex;
    height: 5rem;
    margin-bottom: 1rem;
    img {
      cursor: pointer;
      height: inherit;
    }
    p {
      margin: 0;
      margin-left: 1rem;
    }
    .name {
      cursor: pointer;
      font-size: var(--x-medium);
    }
    div {
      margin: 0;
    }
    .productDetails {
      margin: 0;
      display: flex;
    }
    .emount {
      white-space: nowrap;
      position: relative;
      margin-left: auto;
      font-size: var(--medium);
      color: green;
      text-decoration: underline;
    }
  }
  margin-bottom: 3rem;
}

@media all and (max-width: 70rem) {
  .container {
    width: 90%;
    padding: 2rem;
    h1 {
      font-size: var(--x-large);
    }
    h2 {
      font-size: var(--large);
      &:last-of-type {
        margin-top: 2rem;
      }
    }
  }
  .sectionDetails {
    .sum ,  .status {
      font-size: var(--medium);
    }
  }

  .products {
    .product {
      .name {
        font-size: var(--small);
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .emount {
        padding-left: 1rem;
      }
    }
  }
}

@media all and (max-width: 40rem) and (orientation: portrait) {
  .container {
    margin: 0;
    width: 100%;
  }
  .sectionDetails {
    flex-direction: column;
    .sum {
      &:first-of-type {
        padding-top: 0.5rem;
        border-top: 2px solid black;
      }
    }
  }
  .products {
    .product {
      flex-direction: column;
      height: auto;
      .name {
        -webkit-line-clamp: 2;
      }
      img {
        height: 7rem;
        width: 7rem;
        align-self: center;
      }
    }
  }
}
