.container {
  width: 60%;
  min-height: var(--height);
  color: #212529;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  & > button {
    background-image: var(--linear-primary);
    border: none;
    @media all and (max-width: 40rem) {
      margin-left: 1rem;
    }
  }

  .datePicker {
    display: flex;
    background-color: red;
  }
  .date,
  .selectContainer {
    width: 60%;
    & > div {
      width: 100%;
      .input,
      .inputCategory {
        width: 100%;
      }
    }
  }
  .dateContainer {
    width: 60%;
    margin-top: 2rem;
    h3 {
      text-transform: capitalize;
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
  }
  .date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    @media all and (max-width: 60rem) {
      flex-direction: column;
      & > div {
        margin: 1rem;
      }
    }
    & > div {
      display: inline !important;
      width: max-content !important;
      height: 1.5rem !important;
      & input {
        height: 3rem;
        border: none;
        border-radius: 10px;
        background-color: whitesmoke;
        text-align: center;
        font-size: var(--small);
        margin: 0;
      }
    }
  }

  section {
    position: relative;
    margin-bottom: 10rem;
    width: 100%;
    min-height: 40rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    h2 {
      margin: 3rem;
    }
    .form,
    .form > div {
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
    }
    h1 {
      font-size: var(--xx-large);
      font-weight: bold;
      text-align: center;
      padding: 3rem 0;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media all and (max-width: 80rem) {
    width: 90%;
    .input,
    .textarea,
    .selectContainer {
      font-size: var(--medium);
      width: 80%;
    }
    .textarea {
      font-size: var(--small);
    }
  }
  @media all and (max-width: 40rem) {
    width: 100%;
    section {
      background-color: transparent;
      background: transparent;
      box-shadow: none;
      border: none;
      margin-bottom: 5rem;
      h1 {
        font-size: var(--x-large);
        padding-top: 4rem;
        padding-bottom: 1rem;
      }
      .input {
        width: 80%;
        font-size: var(--x-small);
        background-color: white;
      }
      .inputCategory > div {
        font-size: var(--x-small);
        background-color: white;
      }
    }
    .date {
      & > div {
        & input {
          background-color: white;
        }
      }
    }
  }
}
.input,
.button {
  width: 60%;
  margin-top: 1rem;
  height: 3rem;
  border: none;
  background-color: whitesmoke;
  color: #212529;
  border-radius: 10px;
  text-align: center;
  font-size: var(--small);
  font-weight: normal;
}

.inputCategory {
  width: 60%;
  height: 3rem;
  margin: 1rem;
  text-align: center;
  font-size: var(--medium);
  font-weight: normal;
  & > div {
    margin: 0 !important;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
  }
}
.error {
  text-align: center;
  color: var(--color-error);
  font-size: var(--medium);
}

.input {
  padding: 0 2rem;
}
.checkbox[type="checkbox"] {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.button {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 1rem 2rem;
  color: white;
  background-image: var(--linear-second);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  &:hover {
    transform: scale(1.05);
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
