body {
  margin: 0;
  font-family: "Inter",sans-serif;
  color:#212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

button{
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
