@font-face {
  font-family: "BPG Arial Caps";
  src: url("../src/fonts/pbg-arial/bpg-arial-caps-webfont.eot"); /* IE9 Compat Modes */
  src: url("../src/fonts/pbg-arial/bpg-arial-caps-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../src/fonts/pbg-arial/bpg-arial-caps-webfont.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../src/fonts/pbg-arial/bpg-arial-caps-webfont.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../src/fonts/pbg-arial/bpg-arial-caps-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../src/fonts/pbg-arial/bpg-arial-caps-webfont.svg#bpg_arial_capsregular")
      format("svg"); /* Legacy iOS */
}

body {
  margin: 0;
  font-family: "BPG Arial Caps", sans-serif;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "BPG Arial Caps", sans-serif !important;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-image: url("./static/images/background.png");
  color: var(--color-black);
  
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;

  height: auto;
}

button {
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* VARIABLES */
:root {
  /* COLORS */
  --color-primary: #9c36b5;
  --color-magenta: darkmagenta;
  --color-second: #a4508b;
  --color-error: #d31027;
  --color-black: rgb(11, 11, 11);
  --linear-primary: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  --linear-second: linear-gradient(to right, #ea384d, #d31027);

  /* FONT SIZE */
  --xx-medium: 1.8rem;
  --x-medium: 1.6rem;
  --medium: 1.4rem;
  --small: 1.2rem;
  --x-small: 1rem;
  --xx-large: 3rem;
  --x-large: 2.5rem;
  --large: 2rem;
      
  /* MIN HEIGHT */
  --height:80vh;
}
