body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: var(--color-primary);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* VARIABLES */
:root {
  /* COLORS */
  --color-primary: #9c36b5;
  --color-primary-lg: #862e9c;
  --color-second:#DA1212;
  /* FONT SIZE */
  --medium: 1.4rem;
  --small: 1.2rem;
  --x-small: 1rem;
  --xx-large: 3rem;
  --x-large:2.5rem;
}
