.container {
  width: 60%;
  min-height: var(--height);
  margin-bottom: 10rem;
  .imageContainer {
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @media all and (max-width: 40rem) {
      grid-template-columns: 1fr;
    }
  }

  .select {
    min-width: 10rem;
    & * {
      border: none;
      border-radius: 10px;
    }
    & *::placeholder {
      text-transform: capitalize !important;
      color:red
    }
  }
  .createComponentContainer {
    margin: 5rem 0;
    border-radius: 10px;
    background-image: var(--linear-primary);
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      & > * {
        margin-left: 2rem;
      }
      button {
        cursor: pointer;
        border: none;
        border-radius: 10px;
        padding: 0.4rem 1rem;
        font-weight: 600;
        color: white;
        background-image: var(--linear-second);
      }
    }
  }

  & > button {
    background-image: var(--linear-primary);
    width: auto;
    margin-top: 2rem;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 999px;
    text-align: center;
    font-size: var(--x-medium);
    font-weight: normal;
    padding: 0 2rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    &:hover {
      transform: scale(1.05);
    }
    @media all and (max-width: 40rem) {
      margin-left: 1rem;
    }
  }
  @media all and (max-width: 80rem) {
    width: 80%;
  }
}

label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}
.label {
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 5px;
  background: #ffffff;
  display: inline-block;
}
.label:hover {
  background: var(--color-primary);
  color: white;
}
.label:active {
  background: #ffffff;
}
.label:invalid + span {
  color: #000000;
}
.label:valid + span {
  color: #ffffff;
}
.error {
  color: red;
}
@media all and (max-width: 45rem) {
  .container {
    .createComponentContainer {
      form {
        flex-direction: column;
        & > * {
          width: 80%;
          margin-left: 0rem;
          margin-top: 1rem;
        }
      }
    }
  }
}
