.container {
  width: 80%;
  min-height: var(--height);
  margin-bottom: 5rem;
  .section {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
  }
}
